$color-black: #000;
$color-white: #fff;
$primary-color: #642b89;
$secondary-color: #b63f81;
$title-color: #303030;
$card-color: #ededed;
$card-color-2: #f8f0fe;

$grandent: linear-gradient(to right, #642b89, #b63f81);
$offcanvas: linear-gradient(to top, #ffffff, #38d20000, #38d20000);
